.CardRoot{
    max-height: 300px;
}

.CardButton{
    float: right;
    border-radius: 8px;
 }

 .spanCardActions {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    top: -0.4em;
 }

 .spanMargin {
    margin-left: 16px;
    position: relative;
    top: 0.8em;
 }

 .cardMedia{
     width: 200px;
 }
 .spanCrossRendering{
    font-size: 0.8em;
 }
 .priceCell{
     font-size: 1.2em;
 }

 .gridCell{
     padding-top: .1em;
 }

 .gridTotal{
    text-align: right;
    font-size: 1.2em;
    padding-right: 10px;
}

.myCartGrid{
    padding-left: 5px;
    font-size: 24px;
}

.emptyCart{
    width: 100%;
    height: 100%;
    text-align: center;
}

.carouselImage {
    max-width: 100%;
    display: block;
  }

.noQuantiy{
    font-size: 1.3em;
}

.product-Description{
    font-size: 1.0em;
}

.gridBelowMargin{
    margin-bottom: 20px;
}